@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Bentham&display=swap');

/* imported css */
@import './famous-artist.css';


.scrollbar_hidden::-webkit-scrollbar{
  display: hidden;
}

.custom-scroll::-webkit-scrollbar{
  width: 5px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}